# https://github.com/settings/developers
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# https://console.developers.google.com/apis/credentials
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# https://api.slack.com/apps
SLACK_CLIENT_ID=
SLACK_CLIENT_SECRET=
SLACK_REFRESH_TOKEN=

# https://discord.com/developers/applications#top
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=